<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protopo.previewplace">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".registro_usuarios"
            android:label="@string/lblInicio"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ajustes"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name=".niv_dif_cont"
            android:configChanges="screenSize|orientation"
            android:label="@string/lblDiferencial"/>
        <activity
            android:name=".activity_niv_perfil"
            android:configChanges="screenSize|orientation"
            android:label="@string/lblPerfil"/>

        <activity
            android:name=".test_graphis"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity android:name=".Ayuda_comentarios"></activity>
    </application>

</manifest>